
.imgCentral{
    background-image: url('../img/central/imagenCentral.png');
    height: 600px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: var(--font-base);    
}

nav{
    opacity: 50%;
    font-size: var(--font-size-medium);
}

h1{
    padding: 5px;
    font-size: var(--font-size-display);
}

.imgCentral p{
    padding: 5px;
    font-size: var(--font-size-large);
}

.flex-container{
    display: flex;
    justify-content: flex-end;
    max-height: 100%;
}

.dulcesdelalma{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    max-width: 50%;
  
}

.button-container{
    display: flex;
    justify-content: center;
   
    
}

.button-header{
   font-size: var(--font-size-large);
   opacity: 60%;
  
   background-color: black;
   color: white;
   
}

.flex-quality{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color:rgb( 48, 46, 46);
    /*color:rgb(192,164,124);/*color icons*/
    color: white;
    height: 300px;
}

.flex-icons{
    display: flex;
    flex-direction: row;
}

picture{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
picture p{
    font-size: var(--font-size-small);
}

@media only screen and (max-width: 768px) {
    .flex-container{
        display: flex;
        justify-content:center;
        max-height: 100%;
        position: absolute;
    }
    h1{
        padding: 5px;
        font-size: var(--font-size-xlarge);
    }
    p{
        padding: 5px;
        font-size: var(--font-size-medium);
    }
}
