
<div id="products" class="products_section">
    <div><h1>Productos</h1></div>
    <div class="products">
        <div class="product_img">

        <picture>
            <source media="(min-width:650px)" srcset="./img/productos/product1.png">
            <source media="(min-width:465px)" srcset="./img/productos/product1.png">
            <img src="./img/productos/product1.png" alt="dulce de leche" style="width:100%;height: 100%;">
        </picture>
        </div>
        <div class="product_description">
            <h2>DULCE DE LECHE TRADICIONAL</h2>
            <div>
                <p>
                    Elaboración artesanal de principio a fin, con un sabor
                    intenso, receta tradicional.
                </p>
                <p>
                  Presentación en frasco de vidrio de 580gr.
                </p> 
            </div>   
            <button class="button-description">+INFO</button>
        </div>
    </div>
<br>
    <div class="products">
      
        <div class="product_description">
            <h2>DULCE DE LECHE SIN AZÚCAR</h2>
            <div>
                <p>
                    Elaboración artesanal para cuidar tu silueta sin
                    renunciar a nada, endulzado naturalmente con stevia.
                </p>
                <p>
                    Presentación en frasco de vidrio de 580gr y 280gr.
                </p> 
            </div>   
            <button class="button-description">+INFO</button>
        </div>

        <div class="product_img">

            <picture>
                <source media="(min-width:650px)" srcset="./img/productos/product3.png">
                <source media="(min-width:465px)" srcset="./img/productos/product3.png">
                <img src="./img/productos/product3.png" alt="dulce de leche sin azucar" style="width:100%;height: 100%;">
            </picture>
            </div>
    </div>

</div>
<div id="contact" class="contact_section">
    <div><h1>Contáctanos</h1></div>
    <div class="contact">
       
        <div class="contact_img">
            <picture>
                <source media="(min-width:650px)" srcset="./img/productos/producto5.png">
                <source media="(min-width:465px)" srcset="./img/productos/producto5.png">
                <img src="./img/productos/producto5.png" alt="alfajor" style="width:100%;height: 100%;">
            </picture>
        </div>
        <div class="contact_form">
            <p> Déjanos tu consulta y nuestro personal se pondrá
                en contacto a la brevedad:</p>
            <form>
                <div class="form-group">
                    <label for="formGroupExampleInput">NOMBRE:</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="nombre">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">E-MAIL:</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">CONSULTA:</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                </div>
               
              </form>
              <button type="submit" class="btn form-button-submit mb-2">ENVIAR</button>
        </div>
    </div>
</div>